body {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: #4A4A4A;
    background:#ede3fc ;
    background: linear-gradient(90deg, rgba(163,206,241,1) 0%, rgba(196,163,241,1) 57%);

}

.main-container {
    margin: 0 auto ;
    max-width: 100%;
    width: 55%;
    display: flex;
    justify-content: center;
    margin-top: 120px;
    border-radius: 30px;
    box-shadow: 5px 5px 15px ;

}

.UR-login {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.61);
    border-radius: 30px 0px 0px 30px ;

}
.Login{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
input{
    border: none;
    background-color:rgba(255, 255, 255, 0.979);
    height: 25px;
    border-radius: 5px;
    box-shadow: 3px 3px 12px   #4A4A4A;
    
}
button{
    text-align: center;
    padding: 6px 27px;
    border-radius: 5px;
    border: none;
    color: #F1F1F1;
    /* font-weight: 700; */
    background:#C4A3F1;
    box-shadow: 3px 3px 12px rgb(88, 88, 88);

}

.lab-inp{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}


.UR-login-img {
    width: 50%;
    border-radius: 0px 30px 30px 0px ;
}

.UR-login-img img {
    width: 100%;
    border-radius: 0px 30px 30px 0px ;
}